
crud/sprint2/TichCE_Proyecto_Itzel/.vs/TichCE_Proyecto_Itzel/config/applicationhost.config
crud/sprint 4/TichCE_Proyecto_Itzel/.vs/TichCE_Proyecto_Itzel/config/applicationhost.config
MVC_Contratos/.vs/MVC_Contratos/config/applicationhost.config
